#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-paragraph {
  padding: 2%;
  text-indent: 5%;
  font-size: 1.7rem;
}

#resume-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--dark-grey-color);
  font-size: 1.5rem;
  font-weight: bold;
}

#resume-button:hover {
  background-color: transparent;
  color: var(--blue-color);
}