#nav-bar {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: var(--blue-color);
}

.nav-item {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 10px;
}

.nav-item:hover {
  color: var(--dark-grey-color);
}